<h3> View Schedule Details</h3>
<div>
    <div>
        <label> <b> Employee_Id: </b></label> {{schedule.id}}
    </div>
    <div>
        <label> <b> Employee_Name: </b></label> {{schedule.emp_name}}
    </div>
    <div>
        <label> <b> Date: </b></label> {{schedule.workdate}}
    </div>
    <div>
        <label> <b> Time: </b></label> {{schedule.worktime}}
    </div>
    
    <div>
        <label> <b> Shift: </b></label> {{schedule.workshift}}
    </div>

    <div>
        <label> <b> Work_Assigned: </b></label> {{schedule.workstatus}}
    </div>
    
</div>
