<mat-sidenav-container class="sidenav-container">
  <mat-sidenav #drawer class="sidenav" fixedInViewport
      [attr.role]="(isHandset$ | async) ? 'dialog' : 'navigation'"
      [mode]="(isHandset$ | async) ? 'over' : 'side'"
      [opened]="(isHandset$ | async) === false">
    <mat-toolbar>Employee</mat-toolbar>
    <mat-nav-list>
      <a mat-list-item href="updateprofile">View-Employee</a>
      <a mat-list-item href="viewattendance">View-Attendance</a>
      <a mat-list-item href="viewschedule">View-Schedule</a>
      <a mat-list-item href="viewsalary">View-Salary</a>
      <a mat-list-item href="viewleave">View-Leave</a>
      
      
    </mat-nav-list>
  </mat-sidenav>
  <mat-sidenav-content>
    <mat-toolbar color="primary">
      <button
        type="button"
        aria-label="Toggle sidenav"
        mat-icon-button
        (click)="drawer.toggle()"
        *ngIf="isHandset$ | async">
        <mat-icon aria-label="Side nav toggle icon">menu</mat-icon>
      </button>
      <span><mat-icon>groups</mat-icon>Employee Payroll System</span>
      <div class="spacer"></div>
      <button class="btn btn-outline-success" (click)="logout()">Logout</button>
    </mat-toolbar>
    <!-- Add Content Here -->
  </mat-sidenav-content>
</mat-sidenav-container>
