<div class="container">
    <div class="row">
        <form class="bg-white">
        <div class="col-lg-12 col-sm-12 col-xs-12">
            <h4 class="mt-5 mb-3 bg-light">Registration Form</h4>
           
                <fieldset>
                    <div class="form-group">
                        <label for="username">Employee_Id</label>
                        <input type="number" name="employee_id" id="employee_id" class="form-control"
                            placeholder="enter your employee_id" required>
                    </div>
                    <div class="form-group">
                        <label for="username">Employee_Name</label>
                        <input type="text" name="employee_name" id="employee_name" class="form-control"
                            placeholder="enter your employee_name" required>
                    </div>
                    <div class="form-group">
                        <label for="username">Date of Joining</label>
                        <input type="date" name="date" id="date" class="form-control"
                            placeholder="enter your lastname" required>
                    </div>
                    <br>
                    <div class="form-group">

                        <h6 class="mb-2 pb-1">Gender: </h6>
      
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="femaleGender" value="option1" checked />
                           <label class="form-check-label" for="femaleGender">Female</label>
                        </div>
      
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="maleGender" value="option2"/>
                          <label class="form-check-label" for="maleGender">Male</label>
                        </div>
                        <div class="form-check form-check-inline">
                          <input class="form-check-input" type="radio" name="inlineRadioOptions" id="otherGender" value="option3"/>
                          <label class="form-check-label" for="otherGender">Other</label>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="username">Age</label>
                        <input type="number" name="age" id="age" class="form-control"
                            placeholder="enter your age" required>
                    </div>
                    <div class="form-group">
                        <label for="username">Desiganation</label>
                        <input type="text" name="desiganation" id="desiganation" class="form-control"
                            placeholder="enter your desiganation" required>
                    </div>
                    <div class="form-group">
                        <label for="username">Email</label>
                        <input type="text" name="email" id="email" class="form-control"
                            placeholder="enter your email" required>
                    </div>
                    <div class="form-group">
                        <label for="username">Password</label>
                        <input type="text" name="password" id="password" class="form-control"
                            placeholder="enter your password" required>
                    </div>
                    <br>
                    <div class="form-group">
                        <input class="btn btn-success" type="submit" name="submit" value="register">
                    </div>
                </fieldset>
           
        </div>
        </form>
    </div>
    
</div>