<h3> View Salary Details</h3>
<div>
    <div>
        <label> <b> Employee_Id: </b></label> {{salary.id}}
    </div>
    <div>
        <label> <b> Employee_Name: </b></label> {{salary.emp_name}}
    </div>
    <div>
        <label> <b> Basic_Pay: </b></label> {{salary.basic_pay}}
    </div>
    <div>
        <label> <b> deductions: </b></label> {{salary.deductions}}
    </div>
    
    <div>
        <label> <b> Net_Pay: </b></label> {{salary.net_pay}}
    </div>

    <div>
        <label> <b> Month: </b></label> {{salary.month}}
    </div>
    
</div>
