<div class="col-md-6 offset-md-3">
    <h3> Update Salary </h3>
    <form (ngSubmit)="onSubmit()">
    
        <div class="form-group">
            <label> Employee_Name</label>
            <input type="text" class ="form-control" id = "emp_name"
                [(ngModel)] = "salary.emp_name" name = "emp_name">
        </div>

        <div class="form-group">
            <label> Basic_Pay</label>
            <input type="number" class ="form-control" id = "basic_pay"
                [(ngModel)] = "salary.basic_pay" name = "basic_pay">
        </div>
    
        <div class="form-group">
            <label> Deductions</label>
            <input type="number" class ="form-control" id = "deductions"
                [(ngModel)] = "salary.deductions" name = "deductions">
        </div>
    
        

        <div class="form-group">
            <label> Net_Pay</label>
            <input type="number" class ="form-control" id = "net_pay"
                [(ngModel)] = "salary.net_pay" name = "net_pay">
        </div>


        <div class="form-group">
            <label> Month </label>
            <input type="text" class ="form-control" id = "month"
                [(ngModel)] = "salary.month" name = "month">
        </div>

        
    
        <button class = "btn btn-success" type ="submit">Submit</button>
    
    </form>
    </div> 
