<h3> View Leave Details</h3>
<div>
    <div>
        <label> <b> Id: </b></label> {{leave.id}}
    </div>
    <div>
        <label> <b> From_Date: </b></label> {{leave.from_date}}
    </div>
    <div>
        <label> <b> To_Date: </b></label> {{leave.to_date}}
    </div>
    <div>
        <label> <b> Leave_Type: </b></label> {{leave.leave_type}}
    </div>
    <div>
        <label> <b> Reason: </b></label> {{leave.reason}}
    </div>
    <div>
        <label> <b> Status: </b></label> {{leave.status}}
    </div>
</div>

