<h3> View Employee Details</h3>
<div>
    <div>
        <label> <b> Employee_Id: </b></label> {{employee.id}}
    </div>
    <div>
        <label> <b> Employee_Name: </b></label> {{employee.emp_name}}
    </div>
    <div>
        <label> <b> Date_of_Joining: </b></label> {{employee.date_of_joining}}
    </div>
    <div>
        <label> <b> Gender: </b></label> {{employee.gender}}
    </div>
    <div>
        <label> <b> Age: </b></label> {{employee.age}}
    </div>
    <div>
        <label> <b> Designation: </b></label> {{employee.designation}}
    </div>
    <div>
        <label> <b> Email: </b></label> {{employee.email}}
    </div>
    <div>
        <label> <b> Password: </b></label> {{employee.password}}
    </div>
</div>