<mat-toolbar color="primary" class="mat-elevation-z8">

    <span><mat-icon>groups</mat-icon> Payroll Management</span>
    <div class="spacer"></div>
       
</mat-toolbar>


<table class = "table table-striped">
    <thead>
        <tr>
            <th>Id</th>
            <th> Employee_Name</th>
            <th> Basic_Pay</th>
            <th> Deductions</th>  
            <th> Net_Pay</th>
            <th> Month </th>
        </tr>
    </thead>
    <tbody>
        <tr *ngFor = "let salary of salary" >
            <td> {{ salary.id }} </td>
            <td> {{ salary.emp_name }} </td>
            <td> {{ salary.basic_pay}} </td>
            <td> {{ salary.deductions}} </td>
            <td> {{ salary.net_pay}} </td>
            <td> {{ salary.month}} </td>
            <td>
               
                <button (click) = "updateSalary(salary.id)" class = "btn btn-info"> Update</button>
                <button (click) = "deleteSalary(salary.id)" class = "btn btn-danger" style="margin-left: 10px"> Delete</button>
               
            </td>
        </tr>
    </tbody>
</table>